name: Run Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -

      - name: Install dependencies using Poetry
        run: |
          poetry install  # Install dependencies from pyproject.toml

      - name: Run tests with pytest
        run: |
          poetry run pytest --maxfail=1 --disable-warnings -q
